<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <% for supply in Supply.find(:all) %>
      <div>
         <%= check_box_tag "provider[supply_ids][]", supply.id,
            @provider.supplies.include?(supply) %>
         <%= supply.description %>
      </div>
    <% end %>
  </div>
  <p>Consumers</p>
  <%= f.fields_for :consumers_providers do |builder| %>
    <%= render "consumers_provider_fields", :f => builder %>
  <% end %>
  
  <p><%= link_to_add_fields "Add Consumer", f, :consumers_providers %></p>

  <p>Packages</p>
  <%= f.fields_for :packages do |builder| %>
    <%= render "package_fields", :f => builder %>
  <% end %>
  
  <p><%= link_to_add_fields "Add Package", f, :packages %></p>
  
  <p>IP addresses</p>
  <% f.fields_for :ipaddresses do |builder| %>
    <%= render "ipaddresses_fields", :f => builder %>
  <% end %>
  
  <p><%= link_to_add_fields "Add IP address", f, :ipaddresses %></p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
