<p id="notice"><%= notice %></p>

<p>
  <b>Short name:</b>
  <%= @provider.short_name %>
</p>

<p>
  <b>Long name:</b>
  <%= @provider.long_name %>
</p>


<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
