<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @provider_type.code %>
</p>

<p>
  <b>Description:</b>
  <%= @provider_type.description %>
</p>


<%= link_to 'Edit', edit_provider_type_path(@provider_type) %> |
<%= link_to 'Back', provider_types_path %>
