<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @transport.code %>
</p>

<p>
  <b>Description:</b>
  <%= @transport.description %>
</p>

<p>
  <b>Uses:</b>
  <% Transport.accessible_attributes.to_a.each do |a|
       if (a =~ /^uses_/ && @transport.send(a))
  %>
    <%= a[5,255] %>
  <%   end
     end
  %>
</p>


<%= link_to 'Edit', edit_transport_path(@transport) %> |
<%= link_to 'Back', transports_path %>
