<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @consumer.code %>
</p>

<p>
  <b>Description:</b>
  <%= @consumer.description %>
</p>

<p>
  <b>Providers:</b><br />
  <ul>
  <% for consumer_provider in @consumer.consumers_providers %>
    <li>
      <%= link_to consumer_provider.provider.description, consumer_provider.provider %>:
      <%= consumer_provider.fulltext.description %>
    </li>
  <% end %>
  </ul>
</p>

<p>
  <b>Packages:</b><br />
  <ul>
  <% for consumer_package in @consumer.consumers_packages %>
    <li>
      <%= link_to consumer_package.package.description, consumer_package.package %>:
      <%= consumer_package.fulltext.description %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', consumers_path %>
