<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @ipaddress.provider.description %>
</p>

<p>
  <b>Ipaddress:</b>
  <%= @ipaddress.address %>
</p>


<%= link_to 'Edit', edit_ipaddress_path(@ipaddress) %> |
<%= link_to 'Back', ipaddresses_path %>
