<h1>Listing fetchers</h1>

<table>
  <tr>
    <th>Provider</th>
    <th>Status</th>
    <th>Transport</th>
    <th>Retain</th>
    <th>Username</th>
    <th>Password</th>
    <th>Basename</th>
    <th>Directory</th>
    <th>Seperator</th>
    <th>File filter</th>
    <th>Directory filter</th>
    <th>Format</th>
    <th>Set</th>
    <th>Set limit</th>
    <th>Charset</th>
    <th>Recursive</th>
    <th>Remote delete</th>
    <th>Passive</th>
    <th>Timeout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fetchers.each do |fetcher| %>
  <tr>
    <td><%= fetcher.provider.description %></td>
    <td><%= fetcher.status.description %></td>
    <td><%= fetcher.transport.description %></td>
    <td><%= fetcher.retain.description %></td>
    <td><%= fetcher.username %></td>
    <td><%= fetcher.password %></td>
    <td><%= fetcher.basename %></td>
    <td><%= fetcher.directory %></td>
    <td><%= fetcher.seperator %></td>
    <td><%= fetcher.file_filter %></td>
    <td><%= fetcher.directory_filter %></td>
    <td><%= fetcher.format %></td>
    <td><%= fetcher.set %></td>
    <td><%= fetcher.set_limit %></td>
    <td><%= fetcher.charset %></td>
    <td><%= fetcher.recursive %></td>
    <td><%= fetcher.remote_delete %></td>
    <td><%= fetcher.passive %></td>
    <td><%= fetcher.timeout %></td>
    <td><%= link_to 'Show', fetcher %></td>
    <td><%= link_to 'Edit', edit_fetcher_path(fetcher) %></td>
    <td><%= link_to 'Destroy', fetcher, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fetcher', new_fetcher_path %>
