<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @fetcher.provider.description %>
</p>

<p>
  <b>Status:</b>
  <%= @fetcher.status.description %>
</p>

<p>
  <b>Transport:</b>
  <%= @fetcher.transport.description %>
</p>

<p>
  <b>Retain:</b>
  <%= @fetcher.retain.description %>
</p>

<p>
  <b>Username:</b>
  <%= @fetcher.username %>
</p>

<p>
  <b>Password:</b>
  <%= @fetcher.password %>
</p>

<p>
  <b>Basename:</b>
  <%= @fetcher.basename %>
</p>

<p>
  <b>Directory:</b>
  <%= @fetcher.directory %>
</p>

<p>
  <b>Seperator:</b>
  <%= @fetcher.seperator %>
</p>

<p>
  <b>File filter:</b>
  <%= @fetcher.file_filter %>
</p>

<p>
  <b>Directory filter:</b>
  <%= @fetcher.directory_filter %>
</p>

<p>
  <b>Format:</b>
  <%= @fetcher.format %>
</p>

<p>
  <b>Set:</b>
  <%= @fetcher.set %>
</p>

<p>
  <b>Set limit:</b>
  <%= @fetcher.set_limit %>
</p>

<p>
  <b>Charset:</b>
  <%= @fetcher.charset %>
</p>

<p>
  <b>Recursive:</b>
  <%= @fetcher.recursive %>
</p>

<p>
  <b>Remote delete:</b>
  <%= @fetcher.remote_delete %>
</p>

<p>
  <b>Passive:</b>
  <%= @fetcher.passive %>
</p>

<p>
  <b>Timeout:</b>
  <%= @fetcher.timeout %>
</p>


<%= link_to 'Edit', edit_fetcher_path(@fetcher) %> |
<%= link_to 'Back', fetchers_path %>
