<h1>Listing deliver_periods</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deliver_periods.each do |deliver_period| %>
  <tr>
    <td><%= deliver_period.code %></td>
    <td><%= deliver_period.description %></td>
    <td><%= link_to 'Show', deliver_period %></td>
    <td><%= link_to 'Edit', edit_deliver_period_path(deliver_period) %></td>
    <td><%= link_to 'Destroy', deliver_period, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deliver period', new_deliver_period_path %>
