<h1>Listing retains</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @retains.each do |retain| %>
  <tr>
    <td><%= retain.code %></td>
    <td><%= retain.description %></td>
    <td><%= link_to 'Show', retain %></td>
    <td><%= link_to 'Edit', edit_retain_path(retain) %></td>
    <td><%= link_to 'Destroy', retain, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Retain', new_retain_path %>
