<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @retain.code %>
</p>

<p>
  <b>Description:</b>
  <%= @retain.description %>
</p>


<%= link_to 'Edit', edit_retain_path(@retain) %> |
<%= link_to 'Back', retains_path %>
