<h1>Provider store</h1>
<%= link_to "Supply types", supplies_path %>
<%= link_to "Providers", providers_path %>
<%= link_to "Consumers", consumers_path %>
<%= link_to "Fulltext types", fulltexts_path %>
<%= link_to "Packages", packages_path %>
<%= link_to "Status types", statuses_path %>
<%= link_to "Transport types", transports_path %>
<%= link_to "Retain types", retains_path %>
<%= link_to "Delivery Periods", deliver_periods_path %>
<%= link_to "Fetchers", fetchers_path %>
<%= link_to "Provider Types", provider_types_path %>
