<h1>Listing fulltexts</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fulltexts.each do |fulltext| %>
  <tr>
    <td><%= fulltext.code %></td>
    <td><%= fulltext.description %></td>
    <td><%= link_to 'Show', fulltext %></td>
    <td><%= link_to 'Edit', edit_fulltext_path(fulltext) %></td>
    <td><%= link_to 'Destroy', fulltext, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fulltext', new_fulltext_path %>
